
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no repeat;
    display:flex;
    justify-content: center;
    align-items: center;

}
#board{
    background:black;
    width:90vmin;
    opacity: 0.5;
    height:92vmin;
    border: 2px solid black;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
#scoreBox{
    position: absolute;
    top:9px;
    right:200px;
    font-size:35px ;
    color: black;
    font-weight:bold ;
    font-family: 'Fredoka', sans-serif;
}
#hiscoreBox
{
    position: absolute;
    top:50px;
    right:200px;
    font-size:35px ;
    color: black;
    font-weight:bold ;
    font-family: 'Fredoka', sans-serif;
}
.head
{
    background-color:orangered;
    border:solid white;
    border-radius:8px;

}
.snake{
    opacity:100%;
    background-color: orange;
    border: solid white;
    border-radius: 8px;
}   

.food
{
    background: darkgreen;
    border: solid white;
    border-radius: 8px;
}